:root{
  --primary-color: rgba(123,63,228,1);
  --secondary-color: #3c3c52;
  --black-color: rgb(26, 25, 25);
  --white-color: rgb(250, 250, 253);
  --bg-color: white; 
}
body{
  background: var(--bg-color);
}
*{
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}


button{
  background: var(--primary-color);
  color: white;
  padding: 4px 10px;
  border-radius: 3px;
}

/* short class   */
.primary-color{color: var(--primary-color)}
.secondary-color{color: var(--secondary-color)}
.cursor{cursor: pointer;}